/* .mainContainer {
  margin: 0;
  padding: 0;
  border: 1px solid red;
} */

/* HEADER  */

.containerHeader {
  min-height: 75vh;
  background: url(./home-bg.webp) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  background: url(https://images.unsplash.com/photo-1596272875729-ed2ff7d6d9c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  margin-left: 2rem;
}

.content span {
  color: #333;
  font-size: 2rem;
}

.content h3 {
  color: #333;
  font-size: 3rem;
  line-height: 4rem;
}

.btn {
  height: 3rem;
  width: 10rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  padding: 12px 24px;
  background-color: hsl(222, 100%, 95%);
  color: hsl(243, 80%, 62%);
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 1;
  border: 1px solid red;
}

.btn p {
  z-index: 1;
  position: relative;
  color: #333;
  font-size: 1.3rem;
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11rem;
  height: 9rem;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1),
    transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: hsl(243, 80%, 62%);
  opacity: 0;
}

.btn:hover p {
  color: hsl(222, 100%, 95%);
}

.btn:hover::before {
  opacity: 1;
  transition-duration: 0.85s;
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
}

/* RESPONSIVE HEADER */

@media only screen and (max-width: 1200px) {
  .content span {
    font-size: 1.5rem;
  }

  .content h3 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 960px) {
  .content span {
    font-size: 1.5rem;
  }

  .content h3 {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media only screen and (max-width: 700px) {
  .content span {
    font-size: 1.3rem;
  }

  .content h3 {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .btn {
    height: 3rem;
    width: 10rem;
  }
}

/* PRODUCTS */

.products .headingProducts {
  text-align: center;
  padding: 1rem;
  color: #333;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  padding-top: 2rem;
  text-transform: capitalize;
}

.products .box_container .box {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1.5rem;
  flex: 1 1 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products .box_container .box img {
  width: 9rem;
}

.products .box_container .box .contentProducts {
  padding: 1rem;
}

.products .box_container .box .contentProducts .stars i {
  font-size: 1.5rem;
  color: var(--yellow);
}

.products .box_container .box .contentProducts h3 {
  font-size: 1.2rem;
  color: #333;
  padding: 0.5rem 0;
}

.products .box_container .box .contentProducts .price {
  font-size: 1rem;
  color: #666;
}

.products .box_container .box .contentProducts .price span {
  font-size: 1rem;
  text-decoration: line-through;
}

/* OFFER */

.offer .boxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.offer .boxContainer .offerCol {
  flex: 1 1 40rem;
  margin: 2rem;
  position: relative;
}

.offer .boxContainer .offerCol img {
  width: 100%;
}

.offer .boxContainer .offerCol .contentAdopcion {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #333;
}

.offer .boxContainer .offerCol .contentAdopcion span {
  font-size: 2rem;
}

.offer .boxContainer .box .contentAdopcion h3 {
  font-size: 3.5rem;
}

.offer .boxContainer .offerCol:first-child .contentAdopcion .btnAdopPerro {
  background: #fff;
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 2.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background: var(--yellow);
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 0;
  color: #333;
}

.offer .boxContainer .offerCol:first-child .contentAdopcion .btnAdopGato {
  background: var(--yellow);
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 2.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 0;
  color: #333;
}

.offer .boxContainer .offerCol:last-child .contentAdopcion {
  color: #fff;
}

.offer .headingAdopcion {
  text-align: center;
  padding: 1rem;
  color: #333;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  padding-top: 2rem;
  text-transform: capitalize;
}
