.productCont {
  display: flex;
  height: 50%;
  align-items: center;
}

.productInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 6.25rem;
}

.imgCont {
  height: 50px;
  margin-left: 1rem;
}

.imgCont img {
  height: 100%;
}

.buttons {
  display: flex;
  justify-content: space-around;
}
