.container {
  /* border: 1px solid darkred; */
  /* margin: 1.2rem auto;
  background-color: red; */
  /* background-color: #eeeeee; */
}

.sectionSubtitle {
  font-weight: 500;
  font-size: 1.3rem;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.input {
  height: 3rem !important;
}

.wrapper {
  padding: 2rem;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  /* background-color: #0b2241;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
}
