.container {
  /* border: 1px solid darkred; */
  /* margin: 1.2rem auto;
  background-color: red; */
  /* background-color: #eeeeee; */
}

.sectionSubtitle {
  font-weight: 500;
  font-size: 1.3rem;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.input {
  height: 3rem !important;
}

.wrapper {
  padding: 2rem;
  /* background-image: url("https://wallpapercave.com/wp/wp3123707.jpg"); */
  background-size: cover;
}

/* .wrapper::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
} */
